:root {
  --colorfondo: #c2e7da;
  --color-cards: #6290c3;
  --color-iniciales: #660000;
}

.contenido{
  background-color: var(--color-secundario);
  border-radius: 5%;
}

img{
  border-radius: 100%;
  height: 150px;
  width: 150px;
}
